nodered-flows/weather-flow.json
[{"id":"adaf5fec.e78d8","type":"tab","label":"tijd en weer","disabled":false,"info":""},{"id":"2816383c.e51c28","type":"time-range-switch","z":"adaf5fec.e78d8","name":"","lat":"52.09414","lon":"5.0511","startTime":"solarNoon","endTime":"goldenHour","startOffset":0,"endOffset":"-120","x":462.00000381469727,"y":540.0000095367432,"wires":[["d711371d.490538"],["b9748abf.be24b8"]]},{"id":"5b3be2ea.17e6ac","type":"time-range-switch","z":"adaf5fec.e78d8","name":"sunrise","lat":"52.097","lon":"5.0511","startTime":"sunrise","endTime":"solarNoon","startOffset":0,"endOffset":0,"x":332.00000381469727,"y":380.00000953674316,"wires":[["ceb70c3b.d0b25"],["2816383c.e51c28"]]},{"id":"b9748abf.be24b8","type":"time-range-switch","z":"adaf5fec.e78d8","name":"","lat":"52.09414","lon":"5.0511","startTime":"goldenHour","endTime":"dusk","startOffset":"-120","endOffset":0,"x":622.0000038146973,"y":660.0000095367432,"wires":[["e3c55b67.3519e8"],["5ff69646.3bd058"]]},{"id":"3d852e88.d619b2","type":"api-call-service","z":"adaf5fec.e78d8","name":"weather natte_nacht","server":"9ba96062.48c1e","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.weersituatie"],"labelId":[],"data":"{\"option\":\"natte_nacht\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1592.0000038146973,"y":760.0000095367432,"wires":[[]]},{"id":"fd96a9c9.2a7858","type":"api-call-service","z":"adaf5fec.e78d8","name":"weather nacht","server":"9ba96062.48c1e","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.weersituatie"],"labelId":[],"data":"{\"option\":\"nacht\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1592.0000038146973,"y":940.0000095367432,"wires":[[]]},{"id":"543dfdce.926144","type":"switch","z":"adaf5fec.e78d8","name":"rain fog or clear","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"partlycloudy","vt":"str"},{"t":"eq","v":"sunny","vt":"str"},{"t":"eq","v":"rainy","vt":"str"},{"t":"eq","v":"pouring","vt":"str"},{"t":"eq","v":"cloudy","vt":"str"},{"t":"eq","v":"fog","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":1192.0000038146973,"y":320.00000953674316,"wires":[["a8a2e633.bf5fc8"],["a8a2e633.bf5fc8"],["47da375d.f8e278"],["47da375d.f8e278"],["24f60c6d.047a24"],["24f60c6d.047a24"]]},{"id":"c7c83677.ce3378","type":"switch","z":"adaf5fec.e78d8","name":"rain fog or clear","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"partly cloudy","vt":"str"},{"t":"eq","v":"sunny","vt":"str"},{"t":"eq","v":"cloudy","vt":"str"},{"t":"eq","v":"partlycloudy","vt":"str"},{"t":"eq","v":"fog","vt":"str"},{"t":"eq","v":"rainy","vt":"str"},{"t":"eq","v":"pouring","vt":"str"}],"checkall":"true","repair":false,"outputs":7,"x":1172.0000038146973,"y":540.0000095367432,"wires":[["c6e0a0d4.60f6"],["c6e0a0d4.60f6"],["719c0a8f.478014"],["c6e0a0d4.60f6"],["719c0a8f.478014"],["be0a90b0.2ced1"],["be0a90b0.2ced1"]]},{"id":"d8172a97.ed3a98","type":"switch","z":"adaf5fec.e78d8","name":"rain fog or clear","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rainy","vt":"str"},{"t":"eq","v":"pouring","vt":"str"},{"t":"eq","v":"cloudy","vt":"str"},{"t":"eq","v":"partly cloudy","vt":"str"},{"t":"eq","v":"sunny","vt":"str"},{"t":"eq","v":"fog","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":1172.0000038146973,"y":700.0000095367432,"wires":[["fb836012.efb44"],["fb836012.efb44"],["d1f4fb8e.f139c8"],["d1f4fb8e.f139c8"],["4ad9c290.57cfcc"],["4ad9c290.57cfcc"]]},{"id":"a8a2e633.bf5fc8","type":"api-call-service","z":"adaf5fec.e78d8","name":"weather is zonnig_ochtend","server":"9ba96062.48c1e","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.weersituatie"],"labelId":[],"data":"{\"entity_id\":\"input_select.weersituatie\",\"option\":\"begin_dag\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1640,"y":80,"wires":[[]]},{"id":"eb292ab7.7ffdc8","type":"api-call-service","z":"adaf5fec.e78d8","name":"weather is cloudy","server":"9ba96062.48c1e","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.weersituatie"],"labelId":[],"data":"{\"option\":\"bewolkt\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":2010,"y":300,"wires":[[]]},{"id":"47da375d.f8e278","type":"api-call-service","z":"adaf5fec.e78d8","name":"weather is rainy","server":"9ba96062.48c1e","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.weersituatie"],"labelId":[],"data":"{\"option\":\"regen\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1480,"y":240,"wires":[[]]},{"id":"c6e0a0d4.60f6","type":"api-call-service","z":"adaf5fec.e78d8","name":"weather is middag","server":"9ba96062.48c1e","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.weersituatie"],"labelId":[],"data":"{\"entity_id\":\"input_select.weersituatie\",\"option\":\"middag\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1790,"y":360,"wires":[[]]},{"id":"2f1f3f5d.1cb1b","type":"api-call-service","z":"adaf5fec.e78d8","name":"weather is cloudy","server":"9ba96062.48c1e","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.weersituatie"],"labelId":[],"data":"{\"option\":\"bewolkt\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":2070,"y":520,"wires":[[]]},{"id":"be0a90b0.2ced1","type":"api-call-service","z":"adaf5fec.e78d8","name":"weather is rainy","server":"9ba96062.48c1e","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.weersituatie"],"labelId":[],"data":"{\"option\":\"regen\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1600,"y":560,"wires":[[]]},{"id":"4ad9c290.57cfcc","type":"api-call-service","z":"adaf5fec.e78d8","name":"weather is einde dag","server":"9ba96062.48c1e","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.weersituatie"],"labelId":[],"data":"{\"entity_id\":\"input_select.weersituatie\",\"option\":\"einde_dag\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1880,"y":720,"wires":[[]]},{"id":"b82f4019.1cfff","type":"api-call-service","z":"adaf5fec.e78d8","name":"weather is cloudy","server":"9ba96062.48c1e","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.weersituatie"],"labelId":[],"data":"{\"option\":\"bewolkt\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1770,"y":660,"wires":[[]]},{"id":"fb836012.efb44","type":"api-call-service","z":"adaf5fec.e78d8","name":"weather is rainy","server":"9ba96062.48c1e","version":7,"debugenabled":false,"action":"input_select.select_option","floorId":[],"areaId":[],"deviceId":[],"entityId":["input_select.weersituatie"],"labelId":[],"data":"{\"option\":\"regen\"}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","blockInputOverrides":false,"domain":"input_select","service":"select_option","x":1620,"y":620,"wires":[[]]},{"id":"23148ab3.5e3886","type":"switch","z":"adaf5fec.e78d8","name":"rain fog or clear","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"rainy","vt":"str"},{"t":"eq","v":"pouring","vt":"str"},{"t":"eq","v":"cloudy","vt":"str"},{"t":"eq","v":"partly cloudy","vt":"str"},{"t":"eq","v":"sunny","vt":"str"},{"t":"eq","v":"fog","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":1172.0000038146973,"y":860.0000095367432,"wires":[["3d852e88.d619b2"],["3d852e88.d619b2"],["fd96a9c9.2a7858"],["fd96a9c9.2a7858"],["fd96a9c9.2a7858"],["fd96a9c9.2a7858"]]},{"id":"efd9523.83ca3b","type":"inject","z":"adaf5fec.e78d8","name":"","props":[{"p":"payload"},{"p":"topic","v":"","vt":"date"}],"repeat":"600","crontab":"","once":true,"onceDelay":"10","topic":"","payload":"","payloadType":"date","x":190,"y":200,"wires":[["5b3be2ea.17e6ac","242fe08571b35f61"]]},{"id":"ceb70c3b.d0b25","type":"api-current-state","z":"adaf5fec.e78d8","name":"weather.buienweather","server":"9ba96062.48c1e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.buienradar","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":712.0000038146973,"y":320.00000953674316,"wires":[["543dfdce.926144"]]},{"id":"e3c55b67.3519e8","type":"api-current-state","z":"adaf5fec.e78d8","name":"","server":"9ba96062.48c1e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.buienradar","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":880,"y":600,"wires":[["d8172a97.ed3a98"]]},{"id":"5ff69646.3bd058","type":"api-current-state","z":"adaf5fec.e78d8","name":"","server":"9ba96062.48c1e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.buienradar","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":872.0000038146973,"y":780.0000095367432,"wires":[["23148ab3.5e3886"]]},{"id":"719c0a8f.478014","type":"api-current-state","z":"adaf5fec.e78d8","name":"tuin_sensor_light_level","server":"9ba96062.48c1e","version":3,"outputs":2,"halt_if":"20000","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.tuin_sensor_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1680,"y":480,"wires":[["c6e0a0d4.60f6"],["2f1f3f5d.1cb1b"]]},{"id":"d1f4fb8e.f139c8","type":"api-current-state","z":"adaf5fec.e78d8","name":"tuin_sensor_light_level","server":"9ba96062.48c1e","version":3,"outputs":2,"halt_if":"20000","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.tuin_sensor_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1460,"y":680,"wires":[["4ad9c290.57cfcc"],["b82f4019.1cfff"]]},{"id":"24f60c6d.047a24","type":"api-current-state","z":"adaf5fec.e78d8","name":"light_level > 20000","server":"9ba96062.48c1e","version":3,"outputs":2,"halt_if":"20000","halt_if_type":"num","halt_if_compare":"gt","entity_id":"sensor.tuin_sensor_illuminance","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":1490,"y":320,"wires":[["a8a2e633.bf5fc8"],["eb292ab7.7ffdc8"]]},{"id":"d711371d.490538","type":"api-current-state","z":"adaf5fec.e78d8","name":"","server":"9ba96062.48c1e","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"weather.buienradar","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","x":840,"y":460,"wires":[["c7c83677.ce3378"]]},{"id":"5ed529d0.a62418","type":"inject","z":"adaf5fec.e78d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":2060,"y":140,"wires":[["be0a90b0.2ced1"]]},{"id":"242fe08571b35f61","type":"debug","z":"adaf5fec.e78d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1000,"y":160,"wires":[]},{"id":"8e59c169de8cc052","type":"inject","z":"adaf5fec.e78d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1540,"y":1160,"wires":[["fd96a9c9.2a7858"]]},{"id":"21d5332aacafbc82","type":"inject","z":"adaf5fec.e78d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1060,"y":20,"wires":[["a8a2e633.bf5fc8"]]},{"id":"5d292bc9c4ca59a6","type":"inject","z":"adaf5fec.e78d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1160,"y":80,"wires":[["c6e0a0d4.60f6"]]},{"id":"e6e2d0451b9eb9ec","type":"inject","z":"adaf5fec.e78d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1940,"y":1000,"wires":[["4ad9c290.57cfcc"]]},{"id":"68a4549e1bad7828","type":"inject","z":"adaf5fec.e78d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1360,"y":100,"wires":[["fb836012.efb44"]]},{"id":"74550b182aecce2b","type":"debug","z":"adaf5fec.e78d8","name":"debug 15","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":100,"wires":[]},{"id":"a6208eb07462e95b","type":"inject","z":"adaf5fec.e78d8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":40,"wires":[["5b3be2ea.17e6ac","74550b182aecce2b"]]},{"id":"9ba96062.48c1e","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"on","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]
